#nav_principal {
    background-color: #FFF;
    padding: 10px;
    height: 11,2%;
    border: none;  
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

#sessao_inicial {
    background-color: #FFF;
    text-align: center;
    margin-bottom: 20px;
}

#sessao_nosso_trabalho {
    background-color: #FFF;
    text-align: center;
    margin-bottom: 30px;
}

#sessao_depoimentos{ 
    
}

header h1.titulo_sessao {
    color: #FA4107;
    font-family: Rambla;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

header p.descricao_sessao {
    color: #20303B;
    font-family: Rambla;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: -5px;
}

div.coluna_sessao {
    margin-top: 36px;
}

h3.titulo_coluna_sessao {
    font-family: Rambla;
    color: #20303B;
    font-size: 24px;
}

p.descricao_coluna {
    font-family: Cairo;
    color:#20303B;
    font-size: 20px;
}


@media (min-width: 992px) {
    div.carousel-inner {
        max-height: 550px;
    }
}

div.cabecalho_sessao_depoimento{
    color: #FA4107;
    font-family: Rambla;
    font-size: 3em;
    text-transform: uppercase;
}

div.cliente{
    text-align: left;
    
}

footer {
    background-color:  #1F2123;
    padding: 20px;
}

footer ul li{
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: Cairo;
    font-size: 20px;
}

div.corpo_rodape {
    border-top: 0.5px solid #FFF;
    border-bottom: 0.3px solid #FFF;
    margin-top: 15px;
}

div.coluna_rodape {
    padding: 20px; 
    float: left;
}